body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}

.dashboard {
    padding: 20px;
    padding-top: 80px; /* Espaço extra para a toolbar fixa */
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha todos os itens verticalmente no centro */
    padding: 15px 10px;
    background-color: #272727;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.toolbar img {
    height: 60px;
    cursor: pointer;
}

.toolbar-buttons {
    display: flex;
    gap: 20px;
}

.menu-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    width: 110px;
}

.menu-button:hover {
    background: none;
    transform: scale(1.2);
    transition: transform 0.3s;
}

.menu-button:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s;
}

.toolbar-button {
    background-color: #272727;
    font-weight: bolder;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 14px;
    text-align: center;
    width: 110px;
}

.toolbar-button:hover {
    background-color: #444;
}

.ip-grid {
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens na linha */
    gap: 30px; /* Espaço entre os IP-cards */
}

.ip-card {
    background-color: #222;
    border: 5px solid #444;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    flex: 1 1 calc(33% - 40px); /* Controla a largura dos cartões */
    max-width: 180px; /* Define o tamanho máximo do cartão */
}

.ip-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.ip-card:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s;
}

.ip-card.online {
    border-color: #00BF63;
}

.ip-card.offline {
    border-color: #FF3131;
}

.ip-card p {
    margin: 10px 0;
}

.ip-card p:last-child {
    font-weight: bold;
}

/* Overlay para a barra lateral */
.sidebar-overlay {
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.sidebar-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Barra lateral */
.sidebar {
    background-color: #222;
    width: 300px;
    max-width: 80%;
    height: 100%;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.sidebar-overlay.active .sidebar {
    transform: translateX(0);
}

/* Estilo para o popup de configurações */
.popup-overlay {
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.popup-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    min-width: 300px;
    width: 35%;
    max-width: 400px;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

input {
    width: calc(90% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0px solid #555;
    background-color: #222;
    color: white;
    font-size: 16px;
    height: 25px;
}

button {
    width: 30%;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: #272727;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

